

{%  extends 'accounts/main.html' %}

{% block content %}

{% load static %}

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
 <link rel="stylesheet" type="text/css" href="{% static '/css/table.css' %}">

<div class="container-fluid" >
    <div class="row col-md-20 col-md-offset-5 custyle">
    <table class="table table-striped custab"     >
    <thead>
    <a href="{% url 'product_add' %}" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new products</a>
        <tr>
            <th>Position</th>
            <th>Product</th>
            <th >Description</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
		{% for product in products_json %}
            <tr class="w-85">
                <td >{{ forloop.counter }}</td>
                <td >{{product.productName}}</td>
                <td class="col-8">{{product.shortDescription}}</td>

                <td class="col-2"><a class='btn btn-info btn-xs' href="/product_view/{{product.id}}"><span class="glyphicon glyphicon-edit"></span> View</a>
					<a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Deactivate</a></td>  </td>
            </tr>
{% endfor %}
    </table>
    </div>
</div>




{% endblock content %}